{% extends 'index.html' %}
{% load static %}
{% block content %}




<div class="row" id="body">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 col-sm-12">
        <div id="head_style">Change Your password</div>
        <div class="center" id="form_body">
            <form action="{% url 'user:change_password' %}" method="POST" onsubmit="return formvalidation()">
                {% csrf_token %}
                <div class="row col-100"><div ><input type="text" name="current_password" id="current_password" placeholder="Your current password"></div></div>
			    <small>{{msg}}</small>
                <div class="row col-100"><div ><input type="text" name="new_password" id="new_password" placeholder="Your new password"></div></div>
                <small id="password_p"></small>
                <div class="row col-100"><div ><input type="text" name="confirm_password" id="confirm_password" placeholder="Your confirm new password"></div></div>
			    <small>{{message}}</small>

                
                <div class="row">
                    <input id="submit" type="submit" value="change">
                </div>
                <small>{{mess}}</small>
                
            </form>
        </div>
        

    </div>
    <div class="col-lg-4"></div>
</div>


<script>
    function formvalidation(){
        var password = document.getElementById('new_password')
        var password_p = document.getElementById('password_p')

        var lowerCaseLetters = /[a-z]/g;
    	var upperCaseLetters = /[A-Z]/g;
    	var numbers1 = /[0-9]/g;
    	var specialChar = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;
       
        status = 0

        if(password == ""){
			password_p.innerHTML = "password should be required"
		}else{
			password_p.innerHTML = ""
		}
        
        
        
        if (password.length < 6 ){
			password_p.innerHTML = "need more than 6 charecters"
			status = 1
		}else if(!password.match(lowerCaseLetters)){
			password_p.innerHTML = "need 1 lowercase letter"
			status = 1
		}else if(!password.match(upperCaseLetters)){
			password_p.innerHTML = "need 1 uppercase letter"
			status = 1
		}else if(!password.match(numbers1)){
			password_p.innerHTML = "need atleast 1 number"
			status = 1
		}else if(!password.match(specialChar)){
			password_p.innerHTML = "need atleast 1 symbol"
			status = 1
		}else{
			password_p.innerHTML = ""
		}


        if (status == 1) {
        	return false
    	}
    }
</script>




{% endblock %}